* {
	margin: 0;
	padding: 0;
	font-family: Work Sans;
}

.header-container {
	background-image: url(images/banner/banner3.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}

.header-content {
	margin-right: 0px;
	text-align: right;
	position: absolute;	
	top: 230px;
	right: 220px;
	width: 500px;
	color: white;
}

.title {
	font-size: 65px;
}

.description {
	margin-top: 20px;
	font-size: 16px;
	line-height: 21px;
}

.btn {
	padding: 13px 20px;
	margin-top: 25px;
	color: #005FAC;
	font-weight: 600;
	font-size: 16px;
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
}

.main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 180px 250px;
	gap: 0px;
}

.main-image {
	width: 451px;
	/* height: 898px; */
}

li {
	margin-top: 8px;
	display: flex;
	gap: 10px;
}

.text {
	width: 350px;
}

.main-title {
	font-size: 40px;
}

.main-container .description {
	color: #444343;
}

.my-plans {
	text-align: center;
}

.my-plans > .main-title {
	margin-left: 105px;
}

.my-plans-container {
	margin: 50px 150px;
	display: flex;
	justify-content: space-around;
}

.plan-box > h1 {
	font-size: 30px;
}

.plan-box > p {
	font-size: 25px;
	color: #737272;
}

.positive-mindset-container {
	/* display: relative; */
	background-image: url("images/watch.png");
	background-repeat: no-repeat;
	border-radius: 8px;
	background-size: cover;
	padding: 100px;
	margin: 100px 200px;
	color: white;
	border-radius: 10px;
}

/* .gradient {
	/* display: absolute; */
	/* background-image: url("images/gradient1.png"); */
	/* margin: 0; */
	/* padding:  */
	/* 10px; */
	/* background-size: inherit; */
	/* background-repeat: no-repeat; */
} */